.bt {
  margin: 100px 0;
}

button {
  color: white;
  background: green;
  border: none;
  border-radius: 6px;
  margin-left: 60px;
}

.traKQ {
  margin-left: 200px;
}

.title h1 {
  width: 50%;
  margin: auto;
  color: green;
  text-align: center;
}
